# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tab Control'
      'submenu': [
        { 'label': 'Show', 'command': 'tab-control:show' }
      ]
    ]
  }
]
